.Upload {
    display: flex;
    margin-bottom: 10px;
    padding: 10px 0;
    flex-direction: row;
  }
  
  .custom-upload-button {
    background-color: #4CAF50; /* สีพื้นหลังของปุ่ม */
    color: white; /* สีข้อความของปุ่ม */
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .file-name {
    color: #4D5464;
    font-size: 14px;
    padding: 0 10px;
    height: 42px;
    /* background-color: wheat; */
    align-content: center;
    justify-content: center;
    
  }
  